<nav class="navbar navbar-light app__top_navbar">
        <div class="container-fluid">
            <div class="navbar">
                <a class="navbar-brand bg-gradient-dark mr-0 " href="#">BOOK</a><a class="navbar-brand text-white bg-dark ml-0" href="#">MATE</a>
            </div>
            <div class="navbar ml-auto">
                <span class="navbar-brand">Hello, {{ request.user }}</span>
                <span class="ml-2 navbar-brand"><a class="badge badge-dark" href="{% url 'logout' %}">Logout</a></span>
            </div>
        </div>
</nav>