.app__top_navbar {
    background-color: #ffbb00;
}

.app__background_image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.app__form_background{
    background-color: #212121;
    padding: 10px;
}

.app__user_home_page{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.app__text_color{
    color: white;
}

#id_username , #id_last_name,
#id_first_name, #id_sex,
#id_email, #id_password1,
#id_password2, #id_password {
    color: white;
    background-color: #424242;
    opacity: .7;
}

#div_id_username , #div_id_last_name,
#div_id_first_name, #div_id_sex,
#div_id_email, #div_id_password1,
#div_id_password2 {
    color: lightgray;
}




