{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BOOKMATE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bookmate_app/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="app__background_image" style="background-image: url('{% static "images/background-home-page-image.jpg" %}')">

    {% block navbar %}

    {% endblock navbar %}

    {% block content %}

    {% endblock content %}


</body>
</html>